<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Memory Game</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<h1>Memory Game</h1>
<div class="memory-game-section">
    <button id="startMemoryGameButton" onclick="toggleMemoryGame()">Start Memory Game</button>
    <div id="memoryGameContainer" style="display:none;">
        <h2>Memory Game</h2>
        <button onclick="initializeMemoryGame()">Start New Memory Game</button>
        <div id="memory-game-board" class="memory-game-board"></div>
    </div>
</div>

<!-- go back -->
<a href="/letters" class="back-button">Go Back</a>

<script th:src="@{/js/memory-game.js}"></script>
</body>
</html>
